body {
  max-width: 100%;
  max-height: 100%;

  margin: 0 auto;

  background-color: #fff;

  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;

  font-size: 1rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

input {
  border: none;
  outline: none;
}

.icon-inner img {
  width: 16px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;

  height: 31px;
  padding-block: 4px;

  z-index: 2;

  font-size: 13px;
  color: #d4d4d4;
}

.main-header {
  position: fixed;
  top: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 140px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8509803921568627);
  -webkit-box-shadow: 0px 1px 35px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 35px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 35px 1px rgba(0, 0, 0, 0.1);

  padding-left: 314px;
  padding-right: 314px;

  z-index: 1;
}

.main-header nav a {
  font-size: 14px;
  text-transform: uppercase;
  color: #0b1d25;
  font-weight: 400;
}

.left-nav {
  display: flex;
  gap: 50px;
}

.right-nav {
  display: flex;
  gap: 30px;
}

.header-logo {
  width: 112px;
  margin-left: 55px;
}

.discount span {
  border-radius: 50%;
  padding-inline: 4px;
  color: #fff;
  background: #000;

  font-size: 13px;
  font-weight: 800;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  position: relative;

  width: 100%;
  height: 100vh;

  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-position: center;

  padding: 0 0 182px 314px;

  z-index: -1;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(-60px);

  padding-left: 314px;
  padding-right: 314px;
}

.wrapper {
  max-width: 100%;
}

.carousel {
  display: flex;
  align-items: center;

  gap: 18px;

  cursor: pointer;

  overflow: hidden;

  white-space: nowrap;
  overflow-x: scroll;

  padding-bottom: 45px;
}

.carousel::-webkit-scrollbar {
  height: 1px;
  width: 1px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}
.carousel::-webkit-scrollbar-track {
  background-color: #e0dcdc;
  border-radius: 10px;
}

.slider-img {
  width: 305px;
  height: 305px;
}

.carousel li {
  position: relative;
}

.carousel li[data-new="true"]::before {
  display: flex;
  justify-content: center;
  align-items: center;

  content: "NOVINKA";
  color: #fff;

  font-size: 14px;

  position: absolute;
  top: 20px;
  left: 25px;

  text-transform: uppercase;
  font-weight: bold;

  background-color: #000000;

  z-index: 1;
  width: 76px;
  height: 31px;
}

.carousel li a {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #000;

  font-size: 14px;

  margin-top: 5px;
}

.desc div {
  display: flex;
  flex-direction: column;
}

.desc h3 {
  font-size: 14px;
  color: #0b1d25;
  font-weight: bold;
}

.desc div p {
  font-size: 14px;
  color: #0b1d25;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-txt p {
  background: #000;
  padding: 6px 9px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.hero-txt p,
h1,
h4 {
  color: #fff;
}

.hero-txt h1 {
  font-size: 75px;
  font-weight: 300;
  margin-top: 14px;
  margin-left: -3px;
}

.hero-txt h4 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;

  margin-top: 0;
  margin-bottom: 28px;
}

.hero-txt button {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.388);
  cursor: pointer;
  height: 48px;
  width: 118px;
  color: #0b1d25;
}

.container {
  padding-inline: 314px;
  padding-block: 76px;
}

.companies {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 112px;

  height: 110px;
}

.companies div {
  width: 108px;
  height: 1px;
  background-color: #e4e4e4;
}

.companies li {
  height: 110px;
  width: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 215px;
}

.state {
  display: flex;
  align-items: center;
  gap: 48px;
  background-color: #fbfbfb;
  padding-inline: 54px;
}

.state h1 {
  font-size: 75px;
  color: #000000;
  font-weight: 300;
}

.state article div {
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  margin-right: 102px;
}

.state article div p {
  width: 379px;
  font-size: 14px;
  line-height: 23px;
  color: #777777;
  margin-bottom: 15px;
}

.state img {
  width: 39vw;
  transform: translateY(105px);
  pointer-events: none;
}

.read-more-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 144px;
  font-size: 14px;
  background: none;
  cursor: pointer;

  color: #000000;
  font-weight: bold;
}

.read-more-btn::after {
  content: "";
  position: absolute;
  right: 0;
  transition: 0.2s ease;

  width: 38px;
  height: 1px;
  background-color: #000000;
}

/* BLOG */

.blog {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.blog h1 {
  font-size: 40px;
  color: #000000;
  font-weight: 300;
}

.blog-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}

.blog-list li {
  width: 414px;
}

.blog-list li a {
  display: flex;
  flex-direction: column;
  gap: 137px;
  color: #000;
  width: 100%;
}

.img-cover {
  width: 334px;
  height: 351px;
  background-color: #f5f5f5;
}

.blog-list li a img {
  position: relative;
  width: 334px;
  height: 351px;
  transform: translate(80px, 75px);
}

.blog-list li a article {
  display: flex;
  flex-direction: column;
  gap: 19px;

  width: 290px;
  height: 179px;
  font-size: 14px;
  line-height: 23px;
  color: #777777;
}

.blog-list li a article h2,
.blog-list li a article p {
  color: #151515;
}

.blog-list li a article h2 {
  font-weight: 350;
  margin-top: -10px;
}

.blog-list li a article p {
  height: 88px;
  color: #151515;
  max-width: 283px;
  margin-bottom: 10px;
}

/* NEWS */
.news {
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.news-header div {
  width: 50%;
  height: 1px;
  background-color: #cfcfcf;
  border-radius: 2px;
}

.email-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news article {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  text-align: center;
}

.news article h2 {
  font-size: 40px;
  color: #000000;
  font-weight: 300;
}

.news article p {
  width: 308px;
  font-size: 14px;
  line-height: 23px;
  color: #777777;
  text-align: center;
  margin-bottom: 10px;
}

.email-sender {
  display: flex;
  align-items: center;
  padding-block: 12px;
  border-bottom: 1px solid #000;
}

.email-sender img {
  height: 23px;
  width: 23px;
}

.email-sender input {
  width: 378px;
  text-align: center;
  font-size: 19px;
}

.email-sender input::placeholder {
  font-size: 19px;
  color: #d7d2d2;
  font-weight: 300;
}

/* INSTAGRAM */

.instagram {
  display: flex;
  flex-direction: column;

  gap: 24px;

  background-image: url(./images/instagram-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 510px;

  margin-top: 160px;
}

.instagram-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instagram-header h1 {
  font-weight: 300;
  margin-bottom: 5px;

  font-size: 40px;
  color: #000000;
}

.instagram-header a {
  display: flex;
  align-items: center;
  color: #000;
  gap: 20px;
  font-weight: 600;
}

.instagram-header a div {
  height: 1px;
  width: 48px;
  background-color: #000;
}

.instagram-list {
  display: flex;
  align-items: center;
  gap: 19px;
}

/* FOOTER */

footer {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  position: relative;
}

.footer-top img {
  width: 100%;
}

.footer-top span {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 2px;
  background-color: #fff;
}

.footer-top::after {
  content: "Naša predajňa";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fffefe;

  font-weight: 300;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);

  margin-top: 85px;
  margin-bottom: 16px;

  height: 230px;
}

.footer-middle ul {
  display: flex;
  flex-direction: column;
}

.footer-middle ul li {
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.footer-middle ul li a {
  color: #000;
  font-size: 14px;
}

.footer-middle .adress-info li:first-child {
  font-size: 20px;
  color: #000;
}

.footer-middle .adress-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-middle .adress-info li {
  font-size: 14px;
  line-height: 21px;
  color: #777777;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.footer-bottom div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-bottom svg {
  width: 20px;
  height: 20px;
}
